.invalid-feedback { font-size:11px !important; }

body { font-size:13px !important}
.form-control { font-size: 13px !important; border-radius: 4px !important;}
label { font-size: 11px !important; margin-bottom: 2px !important; text-transform: uppercase; color: #666;}
.btn { border-radius: 4px !important; }

.razorpay-payment-button { width: 100%; padding: 10px 20px; background-color: #001d3d; color: #fff; border-radius: 5px; font-size: 1rem;; }
.razorpay-payment-button:hover { background-color: #f7ca0d; border-color: #f7ca0d; }
