@charset "UTF-8";
/* Colours */
/* Fonts */
/* Bootstrap Styles */
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --white: #fff;
  --dark: #212529;
  --gray: #6c757d;  
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
    
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 13px;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

ul, li { list-style-type: none; padding:0; margin: 0;}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.filters { display: flex; justify-content: space-between; padding: 5px 0; background-color: var(--white); }
.filters .dropdown { margin-right: 8px;}
.filters .btnFilter { border: 1px solid rgb(204, 204, 204) !important; border-radius: 2px !important; color: rgb(108, 108, 108) !important; font-size: 14px !important; background-color: var(--white) !important; }
.filters .btnFilter:hover { border: 1px solid #000 !important; color: #000 !important;}
.filters .dropdown-menu { padding: 3px 13px 5px 13px; margin: 0; border-radius: 0 !important; }
.filters .dropdown-menu li { margin: 9px 0; }
.filters .dropdown-menu .dropdown-item { width: auto; font-size: 13px; border-radius: 100px; display: inline; border:1px #ccc solid;}
.filters .dropdown-menu .dropdown-item.active, .dropdown-item:active { border-color: var(--primary); }
.filters .moreFilters { padding:0 !important; }
.filters .custom-radio-label input { display: none;}

.wrapper-filters { display: flex; justify-content: space-between; height: 300px;}
.wrapper-filters .nav { width: 30%; height:100%;; list-style-type: none; padding: 0; margin: 0; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;}
.wrapper-filters .nav li { margin: 0; border-bottom: 1px #ccc solid;; }
.wrapper-filters .nav li .nav-link { font-size: 11px; border-radius: 0; text-transform: uppercase; color: #666; font-weight: bold;}
.wrapper-filters .nav li .nav-link.active { color: var(--white);}
.wrapper-filters .tab-content { width: 70%; padding: 15px; font-size: 13px;}

.age-checkbox { } 
.age-checkbox h6 { margin-bottom: 15px; font-size: 13px; font-weight: bold;}
.age-checkbox .loop-radio { display: inline-block; width: 100%; }
.age-checkbox .loop-radio .individual { display: block; float: left; margin-right: 3%;}
.age-checkbox .loop-radio .individual .custom-radio-label { padding: 3px 12px 6px 12px; border: 1px #ccc solid; border-radius: 100px; font-size: 12px; margin-bottom: 7px; display: inline-block; cursor: pointer; }
.age-checkbox .loop-radio .individual .custom-radio-label.active { background-color: var(--primary); color: var(--white); border-color: var(--primary);}
.age-checkbox .loop-radio .individual .custom-radio-label .hidden { opacity: 0; display: none;}

.more-filter-checkbox { }
.more-filter-checkbox h6 { margin-bottom: 15px; font-size: 13px; font-weight: bold;}
.more-filter-checkbox .custom-checkbox-label { padding: 3px 12px 6px 12px; border: 1px #ccc solid; border-radius: 100px; font-size: 12px; margin-bottom: 7px; display: inline-block;}
.more-filter-checkbox .custom-checkbox-label.active { background-color: var(--primary); color: var(--white); border-color: var(--primary);}

.filters  .activeFilter { border: 1px var(--primary) solid !important; color: var(--primary) !important; }
.activeFilter::after { content: ""; height: 6px; width: 6px; border: none !important; background-color: var(--primary); border-radius: 100px; position: absolute; top:4px; left:1px; display: block !important;}
.navbar-brand img { width: 175px;}

.body-details { background-color: #f4f4f4; padding:10px 0;}

.hidden-property-type { display: none;}

.toggle-btn.active {
    background-color: #007bff;
    color: white;
}

.header-inner {  z-index: 99; top:0; left:0; display: flex; justify-content: space-between;}
.header-inner .toggle-btn { color: var(--white);}
.big-header { height: 200px;}

.control-header .inner-header { height: 45px; width: 100%; padding: 10px; overflow: hidden; background-color: var(--primary); color: white; transition: height 0.5s ease; display: none; }
.control-header.expanded .inner-header { height: 200px; z-index: 99; width: 100%; position: fixed; display: block; }
.control-header .strip { display: flex; height: 45px; background-color: var(--primary); transition: height 0.5s ease;}
.control-header .strip .navbar-brand { padding: 10px;}
.control-header .strip .toggleHeader { color: var(--white); text-decoration: none; font-size: 14px; background-color: var(--primary); border-radius: 0 0 10px 10px; cursor: pointer; z-index: 99; padding:10px 35px 10px 15px; margin: 0 10px; position: relative; }
.control-header .strip .toggleHeader .up-arrow { display: none; position: absolute; right:0; top:0;}
.control-header .strip .search { background-color: var(--white); padding: 6px; margin: 2px; height: 41px; width: 500px; }
.control-header .strip .search .areas-list { display: flex; }
.control-header .strip .search .areas-list li { margin-right: 10px;}
.control-header .strip .search .areas-list li a { background-color: var(--primary); color: var(--white); border-radius: 100px; padding: 5px 10px; text-decoration: none; font-size: 13px;}
.control-header .strip .search-strip { background-color: var(--white); width: 500px; margin: 2px; border-radius: 4px;}
.control-header .strip .search-strip #areas_top { padding: 4px; margin: 0; display: flex; }
.control-header .strip .search-strip #areas_top label, .control-header .search-engine .areas-list li label.active { color: var(--white) !important; border-color: var(--primary); text-decoration: none; background-color: var(--primary); width: auto; border-radius: 100px; font-size: 13px; padding: 5px 10px; margin-right: 8px;
}
.control-header .strip .search-strip #areas_top li .show-all { border-color: var(--primary); text-decoration: none; width: auto; border-radius: 100px; font-size: 13px; padding: 6px 10px; margin-right: 8px; top: 2px; position: relative;
}

.control-header .strip .search-strip .hidden-areas { margin-top: 2px; overflow: auto; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;}
.control-header .strip .search-strip .hidden-areas li label { padding: 7px 10px; display: block; font-size: 14px; }
.control-header .strip .search-strip .hidden-areas li label:hover { background-color: var(--primary); color: var(--white);}

.control-header .strip .search-strip .hidden-areas-added { padding: 0; margin-top: 2px; overflow: auto; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;}
.control-header .strip .search-strip .hidden-areas-added .added {  border: 1px red solid; display: flex; }
.control-header .strip .search-strip .hidden-areas-added li label { padding: 7px 10px; display: block; font-size: 14px; }
.control-header .strip .search-strip .hidden-areas-added li label:hover { background-color: var(--primary); color: var(--white);}

.control-header.expanded .strip .toggleHeader .down-arrow { display: none; position: absolute; right:0; top:0;}
.control-header.expanded .strip .toggleHeader .up-arrow { display: block; position: absolute; right:10px; top:13px;}
.control-header.expanded .strip { position: absolute; top:200px; width: 100%; left:0; }
.control-header .inner-header .search-swapie { margin: 0 auto; }
.control-header .inner-header.expanded .search-swapie { display: block;}
.control-header .inner-header.expanded .toggleHeader { padding: 13px;}
.control-header .inner-header.expanded .strip .navbar-brand { margin: 10px 20px 10px 10px;}
.control-header .search-engine { display: none;}
.control-header .search-engine .search-controls .flex-search { font-size: 14px; width: 100%;}
.control-header .search-engine .search-controls .flex-search .left { width: 135px; float: left;}
.control-header .search-engine .search-controls .flex-search .left .city { width: 95% !important; }
.control-header .search-engine .search-controls .flex-search .right { float: left; width: 62%;} 
.control-header.expanded .search-engine { display: block; width: 50%; margin: 0 auto;  height: 165px; background: none;}
.control-header .search-engine .active .city { width: 25% !important;}
.control-header .search-engine .areas-list { box-shadow: none; padding: 9px 5px; height: 52px; }
.control-header .search-engine .areas-list #areas { margin: 0; padding: 0;}
.control-header .search-engine .areas-list li { margin-right: 8px; margin-bottom: 10px; float: left; }
.control-header .search-engine .areas-list li label, .control-header .search-engine .areas-list li a { padding: 4px 8px 4px 13px; border: 1px var(--primary) solid; border-radius: 100px; color: var(--primary); text-decoration: none; display: inline-block; font-weight: normal;  }

.control-header .search-engine .areas-list li.active { width: auto !important;}
.control-header .search-engine .areas-list li.active label, .control-header .search-engine .areas-list li label.active  {color: var(--white) !important; border-color: var(--primary); text-decoration: none; background-color: var(--primary); width: auto; }
.control-header .search-engine .areas-list li.active label .remove-area { padding: 0;}
.control-header .search-engine .areas-list li .area-item { padding: 5px 10px; border: 1px #ccc solid; border-radius: 100px; margin-right: 5px;}
.control-header .search-engine .areas-list li .area-item .icon { display: none; }

.control-header .search-engine .areas-list li .area-item:hover { background-color: var(--primary); color: var(--white); border-color: var(--primary);}
.control-header .search-engine .areas-list li .area-item:hover .link { color: var(--white); }
.control-header .search-engine .areas-list li .locality  { display: none;}

.page-loader {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none; /* hidden by default */
}

.page-loader img { 
    width: 60px;
    height: 60px;
}


.expanded-scroll { height: 200px !important;}
.hidden-areas {  clear: both; padding: 0; margin: 0;}

/* 
.areas-list li.hidden {
    display: none;
} */
.areas-list li.active label {
    font-weight: bold;
    color: #007bff;
}

.areas-list a.active { width: auto; font-weight: normal !important; padding: 5px 10px; border: 1px #ccc solid; border-radius: 100px; background-color: var(--primary); color: var(--white) !important; border-color: var(--primary); text-decoration: none; }
/* .areas-list li.hidden { display: none; } */
.areas-list a.active { font-weight: bold; color: #007bff;}
.show-all { border-radius: 100px; border: 1px var(--primary) solid; padding:4px 10px 5px 10px;; text-decoration: none;  cursor: pointer;  }

.control-header .overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 1; display: none; }

.buyCover { background-image: url('../images/homeCover.webp'); background-size: cover; background-repeat: no-repeat;}
.sellCover { background-image: url('../images/rentCover.webp') !important; }
.navbar { background-image: linear-gradient( rgba(0,0,0,0.45),rgba(0,0,0,0.25),transparent );}

header { position: fixed; width: 100%; top:0; left: 0; z-index: 99; background-color: var(--white);}

.custom-price { width: 500px;}

.searchHome { padding:140px 0 80px 0; background-image: url('../images/homeCover.webp'); background-size: cover; background-repeat: no-repeat;}
.searchHome .mainTitle { text-align: center; color: var(--white); }
.searchHome .mainTitle h1 { font-size: 32px; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.51);}

.listing-page { margin-top: 50px;}

.rentBuy { display: flex; padding: 10px 20px 0 20px; list-style-type: none;}
.rentBuy li {  color: var(--white); margin-right: 30px;}
.rentBuy label { position: relative; display: inline-block; padding: 5px 0; cursor: pointer; text-transform: uppercase; font-weight: bold; font-size: 13px; transition: all 0.2s ease-in-out; color: rgba(255,255,255,0.7); }
.rentBuy label.activeTab { color: var(--white);}
.rentBuy label.activeTab::after { content: ""; border-bottom: 2px #fff solid; position: absolute; bottom:0; left:0; width: 100%;  }
.rentBuy input[type="radio"] { display: none; }

.search-engine { background: rgba(0,0,0,0.5); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); border-radius: 15px 15px 41px 41px; width: 68%; margin: 50px auto 0 auto;}
.search-engine .search-controls { background-color: var(--white); border-radius: 100px; position: relative; height: 61px; width: 100%; }
.search-engine .search-controls .right-btn { position: absolute; right:0; top:0; padding:10px; }
.search-engine .search-controls .right-btn .btn { padding: 10px 30px !important; border-radius: 100px !important; background-color: var(--primary) !important}
.search-engine .search-controls .city { width: 83%; background: none; border: none; padding: 20px 50px 20px 20px; border-right:1px #ccc solid;}
.search-engine .active { display: flex; width: 84%;}
.search-engine .active .city { width: 20% !important; }
.search-engine .active #search-container { width: 80% !important; display: block !important;}
.search-engine .active #search-container .form-control {  background: none; padding: 17px; border: none; }
.search-engine .active #search-container .form-control:focus { box-shadow: none;}
.search-engine .search-controls .smallSearch { width: 15% !important; }
.search-engine .areas { position: absolute; width: 65%; margin-top:5px; border-radius: 5px; border: none; padding: 10px; background-color: var(--white); }
.search-engine .areas-list { position: absolute; overflow-y: auto; height: 220px; width: 65%; margin-top: 5px; border-radius: 5px; border: none;  background-color: var(--white); padding: 0; list-style-type: none; box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;}
.search-engine .areas-list .area-item { width: 100%; padding: 7px 20px; display: flex; margin: 0; text-decoration: none;}
.search-engine .areas-list .area-item .icon { width: 30px; margin-right: 5px;  margin-top: 5px;}
.search-engine .areas-list .area-item .text { text-decoration: none; color: #000; }
.search-engine .areas-list .area-item .text p { margin: 0; padding: 0; line-height: 20px;}
.search-engine .areas-list .area-item .text .link { font-size: 13px; }
.search-engine .areas-list .area-item .text .locality { font-size: 10px; text-transform: uppercase; color: #666;}
.search-engine .areas-list .area-item:hover { background-color: rgba(94,35,220,.08); }

.btn { border: none !important; font-weight: bold;}
.btn-primary { }

.propery-listings { border-radius: 15px; padding:10px; margin:10px; background-color: var(--body-bg); cursor: pointer; display: flex; justify-content: space-between;}
.propery-listings:hover { box-shadow: 3px 3px 3px #e5e5e5;}
.propery-listings .picture { width: 30%;}
.propery-listings .picture .thumb { border-radius: 7px; width: 100%; height: 100%; }
.propery-listings .details { padding:10px; width: 69%;}
.propery-listings .details .first-group { margin-bottom: 15px; display: flex; justify-content: space-between;}
.propery-listings .details .first-group .left { width: 90%;}
.propery-listings .details .first-group .left .title { font-size: 16px; margin: 0 0 5px 0; padding: 0; font-weight: bold;}
.propery-listings .details .first-group .right { width: 10%; text-align: right;}
.propery-listings .details .second-group { margin-bottom: 10px; margin-top: 10px;}
.propery-listings .details .second-group .small-text { font-size: 12px;}
.propery-listings .details .third-group { margin-bottom: 20px; margin-top: 20px;}
.propery-listings .details .developer { border-top: 1px #e5e5e5 solid; padding-top:15px; margin-bottom: 10px; display: flex; justify-content: space-between;}
.propery-listings .details .developer .branding { width: 90%; display: flex; justify-content:left;}
.propery-listings .details .developer .branding .logo { width: 45px; height: 45px; margin-right: 10px; border-radius: 5px;}
.propery-listings .details .developer .branding .builder_name { font-weight: bold; margin-top: 3px; }
.propery-listings .details .developer .btn { margin-top: 5px;  }
.propery-listings .details p { margin: 0;  font-size: 14px;}

.modal-builder { margin-bottom: 10px;}
.modal-builder h3 { font-size: 15px;}
.modal-builder .logo-details { display: flex; margin-top: 15px; }
.modal-builder .logo-details .logo { width: 13%; margin-right: 15px;}
.modal-builder .logo-details .logo img { width: 100%; border-radius: 10px; }
.modal-builder .logo-details .details-modal { width: 80%; }
.modal-builder .logo-details .details-modal h4 { padding: 0; margin: 0; font-size: 16px; font-weight: bold;}

.property-individuals { margin-top: 50px;}
.property-individuals p { margin: 0;}
.property-individuals .first { margin-bottom: 20px; }
.property-individuals .first .link { text-transform: uppercase; font-size: 13px;}
.property-individuals .first .address { color: #7f7f7f; margin-top: 5px;}
.property-individuals .price .right { text-align: right; }
.property-individuals .price .right h3, .property-individuals .price .right p { margin: 0;}
.property-individuals .price .right .small-text { font-size: 13px;}
.property-individuals .media { margin-top: 20px; margin-bottom: 20px;}
.property-individuals .figures { text-align: center; }
.property-individuals .figures p { text-align: center; padding: 10px; border-right: 1px red solid; }

.breadcrumb { margin: 0 !important; font-size: 13px; padding: 0; }
.breadcrumb li::after { content:"/"; margin: 0 6px; color: #ccc;}
.breadcrumb li { font-size: 13px; }
.breadcrumb li a { font-size: 13px; color: #666; text-decoration: none;}
.breadcrumb li a:hover, .breadcrumb li.active { color: var(--primary); font-size: 13px;}


.custom-checkbox-label { position: relative; cursor: pointer; user-select: none; }
.custom-checkbox-label input { position: absolute; opacity: 0; cursor: pointer; border: 1px red solid; }
.custom-checkbox-label .checkmark {
    position: absolute; display: none;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.custom-checkbox-label input:checked ~ .checkmark {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.custom-checkbox-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox-label .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Active selected state */
.custom-checkbox-label.active {
    background-color: #e7f1ff;
}

.control-btn { display: inline-block; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }

.nav-pills .nav-link {
    text-align: left;
    border-radius: 0;
    padding: 8px 12px;
    cursor: pointer;
}
.nav-pills .nav-link.active {
    background-color: #0d6efd;
    color: #fff;
}
