@charset "UTF-8";
/* Colours */
/* Fonts */
/* Bootstrap Styles */
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --white: #fff;
  --dark: #212529;
  --gray: #6c757d;  
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
    
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 13px;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.filters { display: flex; justify-content: space-between; padding: 5px 0; background-color: var(--white); }
.filters div { margin-right: 8px;}
.filters .btnFilter { border: 1px solid rgb(204, 204, 204) !important; border-radius: 2px !important; color: rgb(108, 108, 108) !important; font-size: 14px !important; background-color: var(--white) !important; }
.filters .btnFilter:hover { border: 1px solid #000 !important; color: #000 !important;}
.filters .dropdown-menu { padding: 8px 15px; margin: 0; border-radius: 0 !important; }
.filters .dropdown-menu li { margin: 10px 0; }
.filters .dropdown-menu .dropdown-item { width: auto; font-size: 13px; border-radius: 100px; display: inline; border:1px #ccc solid;}
.filters .dropdown-menu .dropdown-item.active, .dropdown-item:active { border-color: var(--primary); }

.activeFilter::after { content: ""; height: 6px; width: 6px; border: none !important; background-color: var(--primary); border-radius: 100px; position: absolute; top:4px; left:1px; display: block !important;}
.navbar-brand img { width: 175px;}

.body-details { background-color: #f4f4f4;}

.buyCover { background-image: url('../images/homeCover.webp'); background-size: cover; background-repeat: no-repeat;}
.sellCover { background-image: url('../images/rentCover.webp') !important; }
.navbar { background-image: linear-gradient( rgba(0,0,0,0.45),rgba(0,0,0,0.25),transparent );}

header { position: fixed; width: 100%; top:0; left: 0; z-index: 99; background-color: var(--white);}

.custom-price { width: 500px;}

.searchHome { padding:140px 0 80px 0; background-image: url('../images/homeCover.webp'); background-size: cover; background-repeat: no-repeat;}
.searchHome .mainTitle { text-align: center; color: var(--white); }
.searchHome .mainTitle h1 { font-size: 32px; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.51);}

.listing-page { margin-top: 80px;}

.rentBuy { display: flex; padding: 10px 20px 0 20px; list-style-type: none;}
.rentBuy li {  color: var(--white); margin-right: 30px;}
.rentBuy label { position: relative; display: inline-block; padding: 5px 0; cursor: pointer; text-transform: uppercase; font-weight: bold; font-size: 13px; transition: all 0.2s ease-in-out; color: rgba(255,255,255,0.7); }
.rentBuy label.activeTab { color: var(--white);}
.rentBuy label.activeTab::after { content: ""; border-bottom: 2px #fff solid; position: absolute; bottom:0; left:0; width: 100%;  }
.rentBuy input[type="radio"] { display: none; }

.search-engine { background: rgba(0,0,0,0.5); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); border-radius: 15px 15px 41px 41px; width: 68%; margin: 50px auto 0 auto;}
.search-engine .search-controls { background-color: var(--white); border-radius: 100px; position: relative; height: 61px; }
.search-engine .search-controls .right-btn { position: absolute; right:0; top:0; padding:10px; }
.search-engine .search-controls .right-btn .btn { padding: 10px 30px !important; border-radius: 100px !important; background-color: var(--primary) !important}
.search-engine .search-controls .city { width: 83%; background: none; border: none; padding: 20px 50px 20px 20px; border-right:1px #ccc solid;}
.search-engine .active { display: flex; width: 84%;}
.search-engine .active .city { width: 20% !important; }
.search-engine .active #search-container { width: 80% !important; display: block !important;}
.search-engine .active #search-container .form-control {  background: none; padding: 17px; border: none; }
.search-engine .active #search-container .form-control:focus { box-shadow: none;}
.search-engine .search-controls .smallSearch { width: 15% !important; }
.search-engine .areas { position: absolute; width: 65%; margin-top:5px; border-radius: 5px; border: none; padding: 10px; background-color: var(--white); }
.search-engine .areas-list { position: absolute; overflow-y: auto; height: 220px; width: 65%; margin-top: 5px; border-radius: 5px; border: none;  background-color: var(--white); padding: 0; list-style-type: none; box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;}
.search-engine .areas-list .area-item { width: 100%; padding: 7px 20px; display: flex; margin: 0; text-decoration: none;}
.search-engine .areas-list .area-item .icon { width: 30px; margin-right: 5px;  margin-top: 5px;}
.search-engine .areas-list .area-item .text { text-decoration: none; color: #000; }
.search-engine .areas-list .area-item .text p { margin: 0; padding: 0; line-height: 20px;}
.search-engine .areas-list .area-item .text .link { font-size: 13px; }
.search-engine .areas-list .area-item .text .locality { font-size: 10px; text-transform: uppercase; color: #666;}
.search-engine .areas-list .area-item:hover { background-color: rgba(94,35,220,.08); }

.btn { border: none !important; font-weight: bold;}
.btn-primary { }

.propery-listings { border-radius: 15px; padding:10px; margin:10px; background-color: var(--body-bg); cursor: pointer; display: flex; justify-content: space-between;}
.propery-listings:hover { box-shadow: 3px 3px 3px #e5e5e5;}
.propery-listings .picture { width: 30%;}
.propery-listings .picture .thumb { border-radius: 7px; width: 100%; height: 100%; }
.propery-listings .details { padding:10px; width: 69%;}
.propery-listings .details .first-group { margin-bottom: 15px; display: flex; justify-content: space-between;}
.propery-listings .details .first-group .left { width: 90%;}
.propery-listings .details .first-group .left .title { font-size: 16px; margin: 0 0 5px 0; padding: 0; font-weight: bold;}
.propery-listings .details .first-group .right { width: 10%; text-align: right;}
.propery-listings .details .second-group { margin-bottom: 10px; margin-top: 10px;}
.propery-listings .details .second-group .small-text { font-size: 12px;}
.propery-listings .details .third-group { margin-bottom: 20px; margin-top: 20px;}
.propery-listings .details .developer { border-top: 1px #e5e5e5 solid; padding-top:15px; margin-bottom: 10px; display: flex; justify-content: space-between;}
.propery-listings .details .developer .branding { width: 90%; display: flex; justify-content:left;}
.propery-listings .details .developer .branding .logo { width: 45px; height: 45px; margin-right: 10px; border-radius: 5px;}
.propery-listings .details .developer .branding .builder_name { font-weight: bold; margin-top: 3px; }
.propery-listings .details .developer .btn { margin-top: 5px;  }
.propery-listings .details p { margin: 0;  font-size: 14px;}

.modal-builder { margin-bottom: 10px;}
.modal-builder h3 { font-size: 15px;}
.modal-builder .logo-details { display: flex; margin-top: 15px; }
.modal-builder .logo-details .logo { width: 13%; margin-right: 15px;}
.modal-builder .logo-details .logo img { width: 100%; border-radius: 10px; }
.modal-builder .logo-details .details-modal { width: 80%; }
.modal-builder .logo-details .details-modal h4 { padding: 0; margin: 0; font-size: 16px; font-weight: bold;}

.property-individuals { margin-top: 50px;}
.property-individuals p { margin: 0;}
.property-individuals .first { margin-bottom: 20px; }
.property-individuals .first .link { text-transform: uppercase; font-size: 13px;}
.property-individuals .first .address { color: #7f7f7f; margin-top: 5px;}
.property-individuals .price .right { text-align: right; }
.property-individuals .price .right h3, .property-individuals .price .right p { margin: 0;}
.property-individuals .price .right .small-text { font-size: 13px;}
.property-individuals .media { margin-top: 20px; margin-bottom: 20px;}
.property-individuals .figures { text-align: center; }
.property-individuals .figures p { text-align: center; padding: 10px; border-right: 1px red solid; }

.breadcrumb { margin: 30px 0; font-size: 13px; }
.breadcrumb li::after { content:"/"; margin: 0 8px; color: #ccc;}
.breadcrumb li a { font-size: 14px; color: #666; text-decoration: none;}
.breadcrumb li a:hover { color: red;}


.custom-checkbox-label { position: relative; cursor: pointer; user-select: none; }
.custom-checkbox-label input { position: absolute; opacity: 0; cursor: pointer; border: 1px red solid; }
.custom-checkbox-label .checkmark {
    position: absolute; display: none;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.custom-checkbox-label input:checked ~ .checkmark {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.custom-checkbox-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox-label .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Active selected state */
.custom-checkbox-label.active {
    background-color: #e7f1ff;
}

#typeDropdown, #roomDropdown, #bathroomDropdown { display: inline-block; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
